apiVersion: database.aws.crossplane.io/v1beta1
kind: RDSInstance
metadata:
  name: rdspostgresql
  namespace: default
spec:
  forProvider:
    region: us-west-1
    vpcSecurityGroupIDRefs:
      - name: seizadi-bloxinabox-rds-sg
    dbSubnetGroupNameRef:
      name: seizadi-bloxinabox-rds-subnetgroup
    dbInstanceClass: <shape goes here>
    masterUsername: masteruser
    allocatedStorage: <minStorageGB goes here>
    engine: postgres
    engineVersion: "12.8"
    skipFinalSnapshotBeforeDeletion: true
    publiclyAccessible: false
    # enableIAMDatabaseAuthentication: true
  writeConnectionSecretToRef:
    namespace: <claim namespace goes here>
    name: <writeConnectionSecretToRef goes here>
  providerConfigRef:
    name: default
